doctype html
html
  head
    meta(charset="utf-8")
    title Thenders
    link(href="./3rd-party/jquery/jquery-ui-1.8.min.css" rel="stylesheet")
    link(href="./3rd-party/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet")
    link(rel="stylesheet" href="./styles/main.css" type="text/css")
  body
    .x-wrapper
      .x-wrapper__inner
        include ./includes/logo
        include ./includes/settings
        .x-step
          .x-chart.x-chart--wide
            h2.x-chart__title.h-margin-bottom Распределение подходящих тендеров, открытых компанией ОАО Новокуйбышевский НПЗ за период с 01.01.2016 по 20.08.2016
            table.x-table.y-table(align="center")
              tr
                td.y-table__cell(style="width: 40%; vertical-align: middle; padding-right: 20px;")
                  #table_div.table_div
                    //- сюда генерируются данные из js
                td.y-table__cell(style="width: 60%; vertical-align: middle;")
                  #bubble_div.bubble_div
                    //- сюда генерируются данные из js
            .x-lots
              h2.x-lots__title Лоты тендера № 135677 “Закупка крепежных изделий”
              div.x-lots__wrapper 
                div.x-lots__block.x-lots__block--small
                  ul.x-lots__list
                    li.x-lots__item.is-active Шпилька ГОСТ 9065-75
                    li.x-lots__item.is-active Гайка М12
                    li.x-lots__item Втулка РК-75 НГ
                div.x-lots__block.x-lots__block--big
                  div.x-lots__part#progress
                  div.x-lots__block.x-lots__block--big Позиций совпадает с продукцией вашей компании
          .x-chart.x-chart--wide
            h2.x-chart__title.h-margin-bottom Распредление отобранных тендеров между организаторами 20.08.2016
            table
              tr
                td(style="width: 50%; vertical-align: middle")
                  #table-for-piechart.table_div
                td(style="width: 50%; vertical-align: middle")
                  #piechartTwo(style="width: 100%; height: 300px")
        .x-footer
          .x-logo
    script(src="./3rd-party/jquery/jquery-3.1.0.min.js")
    script(src="./3rd-party/jquery/jquery-ui-1.8.min.js")
    script(src="./3rd-party/datetimepicker/jquery.datetimepicker.full.js")
    script(src="./3rd-party/jqueryvalidate/jquery.validate.js")
    script(src="./3rd-party/circleProgressJQuery.js")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(src="./3rd-party/jquerycustom-scrollbar/jquerycustom-scrollbar.js")
    script(src="./javascripts/main.js")
