.x-settings
  .x-settings__title Персональные настройки компании
  form.x-form#loginform
    .x-form__wrapper
      .x-form__group
        .x-form__field-group
          label.x-form__label Название компании*
          .x-form__field-multi
            input.x-form__field(placeholder='OOO «Моя Компания»' name='companyName')
        .x-form__title Производимая продукция:
        .x-form__field-group
          label.x-form__label Наименование*
          div.x-form__field-multi
            input.x-form__field(placeholder='Введите слова, характеризующие Ваш продукт' name='productName')
            span.x-form__field-hint Пример: &nbsp;
              span гайка
        .x-form__field-group
          label.x-form__label Исключить из поиска
          div.x-form__field-multi
            input.x-form__field(placeholder='Cлова, которые будут исключены из поиска')
            span.x-form__field-hint Пример: &nbsp;
              span фурнитура
      .x-form__group
        .x-form__field-group
          label.x-form__label Регион*
          div.x-form__field-multi
            div.x-form__field-wrapper(data-value='0')
              div.x-form__field-inner
                input.x-form__field.js-autocomplete(placeholder='Самарская обл.' name="regionName[]")
              div.x-form__field-button.x-form__field-button--add.js-add
        .x-form__field-group
          label.x-form__label Тип процедуры
          div.x-form__select-wrapper
            select.x-form__select
              option Все
              option Аукцион
              option Конкурентный лист
              option Открытый конкурентный лист
              option Запрос котировок
              option Запрос предложений
              option Запрос предложений с переторжкой
            div.x-form__select-control
              div.x-form__select-corner
        .x-form__field-group
          label.x-form__label Статус
          div.x-form__select-wrapper
            select.x-form__select
              option Все
              option Опубликованные
              option Прошедшие
            div.x-form__select-control
              div.x-form__select-corner
        .x-form__field-group
          label.x-form__label Искать тендеры с:*
          .x-form__date
            input.x-form__field#date_timepicker_start(placeholder='__/__/____' name='dateFrom')
          label.x-form__label по:*
          .x-form__date
            input.x-form__field#date_timepicker_end(placeholder='__/__/____' name='dateTo')
    button.x-form__button(type='submit') Поиск
    //- a(href="./index2.html") INDEX2
    //- a(href="./index3.html") INDEX3
.h-hexagon__position
  .x-hexagon.x-hexagon--wrapper.js-toggle
    .x-hexagon.x-hexagon--inner
    .x-hexagon__corners
    
