.x-
  &lots
    width: 70%
    background-color: $gray
    margin: 0 auto
    border-radius: 4px
    padding: 30px
    &__title
      font-size: 18px
      text-align: center
      margin-bottom: 25px
    &__item
      padding: 5px
      font-size: 14px
      border: 2px solid #fff
      border-radius: 4px
      margin-bottom: 5px
      &.is-active
        background-color: $blue
    &__wrapper
      display: flex
      justify-content: space-between
    &__block
      font-size: 14px
      &--small
        width: 40%
      &--big
        width: 59%
        display: flex
        align-items: center
        justify-content: flex-end
    &__part
      // width: 100px
      // height: 100px
      // background-color: red
      // border-radius: 50%
      // margin-right: 20px
      width: 0
      height: 0
      border-left: 70px solid transparent
      border-right: 70px solid transparent
      border-top: 110px solid #2B2F6E
      border-radius: 50%
      // border: 3px solid red
    &__description
      width: 50%
